.clients {
  margin-block: var(--pages-section);
  padding-inline: 0;
  opacity: 1;
}

.clients__meta {
  padding: 0 var(--grid-padding);
}

.meta-bar {
  position: relative;
}
.meta-bar__line {
  height: 0.1rem;
  background-color: currentColor;
}

.meta-bar .row {
  display: flex;
  justify-content: space-between;
}

.meta-bar-count .row {
  margin-top: var(--size-600);
}
.meta-bar-count .col:first-child {
  flex: 0 0
    calc(
      (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
        var(--grid-column-count) * 2
    );
}
.meta-bar-count .col:nth-child(2) {
  flex: 0 0
    calc(
      (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
        var(--grid-column-count) * 4 - var(--grid-gutter)
    );
  display: flex;
  justify-content: space-between;
}

.clients__header {
  padding-right: var(--grid-padding);
  padding-left: var(--grid-padding);
  position: relative;
}

.clients h2 {
  max-width: calc(
    (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
      var(--grid-column-count) * 3 - var(--grid-gutter)
  );
  padding-top: 5rem;
  text-transform: uppercase;
}

.carousel {
  position: relative;
  height: 100%;
  width: 100%;
  user-select: none;
  backface-visibility: hidden;
  z-index: 2;
  overflow: hidden;
}

.carousel__stage {
  display: grid;
  grid-auto-flow: column;
  padding-bottom: var(--size-800);
  padding-right: var(--grid-padding);
  padding-left: var(--grid-padding);
  position: relative;
  cursor: grab;
}
.dragging.caroseul__stage {
  cursor: grabbing;
}

.carousel ul {
  pointer-events: all;
  white-space: nowrap;
}

.carousel__stage__item {
  padding-top: 6.25rem;
  padding-right: calc(var(--grid-padding) * 2);
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: auto;
  max-width: calc(
    (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
      var(--grid-column-count) * 5
  );
  opacity: 1;
  cursor: grabbing;
}

.clients .asset {
  width: 50%;
  height: 4rem;
  display: flex;
  align-items: center;
}

.clients .asset .asset__wrapper {
  width: 100%;
  height: 100%;
}

.clients__title {
  margin-top: 2rem;
  padding-top: 5rem;
  text-transform: uppercase;
  position: relative;
}
@media only screen and (min-width: 1280px) {
  .clients__title {
    padding-top: 10rem;
  }
}
.clients__title::before {
  content: "";
  width: 2rem;
  height: 0.2rem;
  background-color: currentColor;
  position: absolute;
  left: 0;
  top: 0;
}

.clients__body {
  margin-top: 2rem;
  white-space: normal;
  word-wrap: break-word;
}
.clients__body__link {
  display: inline;
  cursor: pointer;
  text-decoration: underline;
}
.carousel__progress {
  display: none;
  position: relative;
  width: 100%;
  height: 0.2rem;
  margin-top: 11.5rem;
  padding-inline: var(--grid-padding);
}

.carousel__progress-background,
.carousel__progress-bar {
  display: block;
}

.carousel__progress-background {
  position: relative;
  width: 100%;
  height: 0.2rem;
  background: #b1b1b1;
}

.carousel__progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 0.2rem;
  background: currentColor;
}

@media screen and (min-width: 80em) {
  .carousel__progress {
    display: block;
  }
}
