.spotlight {
  opacity: 1;
  overflow: visible;
}

@media only screen and (min-width: 720px) {
  .spotlight .row {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
  }
}
.spotlight .col {
  flex: 0 0 100%;
}

.spotlight .col + .col {
  margin-top: var(--size-900);
}

.spotlight__label,
.spotlight q {
  display: block;

  text-transform: uppercase;
}

.spotlight q {
  font-size: var(--fs-h1);
  line-height: 0.9;
  font-weight: var(--fw-bold);
  letter-spacing: -0.05em;
}

.dot-wrapped,
.dot-wrapped > span {
  display: inline-block;
}

.dot-wrapped {
  white-space: nowrap;
}
.dot-wrapped > span:first-child {
  padding-right: 0.15em;
}

.spotlight__label {
  margin-top: var(--size-650);
  font-weight: var(--fw-regular);
}
.spotlight__label + p {
  margin-top: var(--size-650);
}
@media only screen and (min-width: 720px) {
  .spotlight .col {
    flex: 0 0
      calc(
        (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
          var(--grid-column-count) * 3 - var(--grid-gutter)
      );
  }
  .spotlight .col + .col {
    margin-top: 0;
  }
  .spotlight .col + .col div {
    position: sticky;
    top: 0;
  }
}
